:root {
	--grey-dark: #8a8a8a;
	--grey-light: #d9d9d9;
	--text-color: #fff;
	--background-color: #1f1f1f;
	--secondary-background-color: #333;
	--aggression-color: #e01414;
	--justice-color: #fbc02d;
	--leadership-color: #1998d2;
	--pool-color: #cb6ce6;
	--protection-color: #00ab41;
	--basic-color: #606060;
}
